<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Classe</title>

</head>

<body data-ng-app="MyApp">

	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">
						Gestion des classes <small>Listing </small>
					</h3>
					<a th:href="@{/add}" class="btn btn-md btn-success pull-right"><i class="fa fa-plus-circle"></i> Ajouter
						classe</a>
					<div class="clearfix"></div>
				</div>
				<div class="box-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Id</th>
								<th>Classe</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="classe:${classes}">
								<td th:text="${classe.id}"></td>
								<td th:text="${classe.name}"></td>
								<td><a th:href="@{/edit/{id}(id=${classe.id}) }" class="btn btn-default btn-xs">Modifier</a>
									<a th:href="@{/delete/{id}(id=${classe.id}) }" class="btn btn-info btn-xs">Suppr.</a>
									<a th:href="@{/show/{id}(id=${classe.id}) }" class="btn btn-primary btn-xs">
										Voir <span class="fa fa-search"></span>
									</a>
									<a th:href="@{/notes/moyennes/{id}(id=${classe.id})}" class="btn btn-success btn-xs">Moyennes</a>
									</td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="box-footer clearfix"></div>

			</div>
		</div>

	</div>
	<!-- /page content -->
</body>
</html>
