<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Eleves</title>

</head>

<body data-ng-app="MyApp">

	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">
						Gestion des eleves <small>Listing </small>
					</h3>
					<a th:href="@{/eleves/new}" class="btn btn-md btn-success pull-right"><i class="fa fa-plus-circle"></i> Ajouter
						eleve</a>
					<div class="clearfix"></div>
				</div>
				<div class="box-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Prenom</th>
								<th>Date de naissance</th>
								<th>Classe</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="eleve:${eleves}">
								<td th:text="${eleve.nom}"></td>
								<td th:text="${eleve.prenom}"></td>
								<td th:text="${{eleve.dateNaissance}}"></td>
								<td th:text="${{eleve.classe}}"></td>
								<td><a th:href="@{'/eleves/edit/' + ${eleve.id} }" class="btn btn-default btn-xs">Modifier</a>
									<a th:href="@{'/eleves/delete/' + ${eleve.id} }" class="btn btn-info btn-xs">Suppr.</a>
									<a th:href="@{/eleves}" class="btn btn-primary btn-xs">
										Voir <span class="fa fa-search"></span>
									</a>
									</td>
							</tr>
						</tbody>
					</table>

				</div>
				<div class="box-footer clearfix"></div>

			</div>
		</div>

	</div>
	<!-- /page content -->
</body>
</html>
