<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Evaluations</title>

</head>

<body data-ng-app="MyApp">

	<!-- page content -->
	<div class="right_col" role="main" data-layout-fragment="content">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						Evaluations <small>Listing </small>
					</h2>
					<a th:href="@{/evaluations/add}" class="btn btn-md btn-success pull-right"><i class="fa fa-plus-circle"></i> Ajouter
						evaluation</a>
					<div class="clearfix"></div>
				</div>
				<div class="x_content" style="display: block;">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Classe</th>
								<th>Date evaluation</th>
								<th>Type d'evaluation</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="evaluation:${evaluations}">
								<td th:text="${evaluation.classe}"></td>
								<td th:text="${{evaluation.dateEvaluation}}"></td>
								<td th:text="${evaluation.typeEvaluation}"></td>
								<td><a th:href="@{/evaluations/edit/{id}(id=${evaluation.id}) }" class="btn btn-default btn-xs">Modifier</a>
									<a th:href="@{/evaluations/delete/{id}(id=${evaluation.id}) }" class="btn btn-info btn-xs">Suppr.</a>
									<a th:href="@{/evaluations/{id}/notes(id=${evaluation.id}) }" class="btn btn-primary btn-xs">
										Voir notes<span class="fa fa-search"></span>
									</a>
									</td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>
		</div>

	</div>
	<!-- /page content -->
</body>
</html>
